.modal-container {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    height: 100vh;
    width: 100vw;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 1001;
    background-color: white;
    box-shadow: none;
    width: 45%;
    height: 65%;
    padding: 2vh;
    text-align: center;
    border-radius: 10px;
    box-shadow: 4px 4px rgb(251, 102, 48), -1em 0 0.4em rgb(156, 243, 156);
    border: 5px solid black;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}

input,
label {
    margin: 2vh;
}

.button-div {
    align-self: flex-end;
    top: 0;
    right: 0;
}
